ul {
  padding-inline-start: 0;
  list-style: none;
  border: 1px solid;
}

section {
  display: flex;
  flex-direction: row;
  gap: 79px;
}

form {
  align-items: end;
  display: flex;
  flex-direction: column;
}

p {
  padding: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.score-holder > p:nth-child(even) {
  background-color: #6b5151;
  color: white;
}

.score-holder > p:nth-child(odd) {
  color: rgb(9, 9, 9);
}
